* {

  box-sizing: border-box;
}

#header {
  background-image: linear-gradient(35deg, rgba(22, 140, 250, 0.7), rgba(123, 255, 123, 0.5));
  position: fixed;
  top: 0;
  display: none;
  backdrop-filter: blur(3px);
  animation: slideDown 0.2s ease-in 1;
  z-index: 4;
}
#home {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-image:
  linear-gradient(90deg, rgba(22, 140, 250, 0.7), rgba(123, 255, 123, 0.7)),
  url('bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.headline-container{
}
.hero-img {
  max-width: calc(20rem + 2vw);
  width: 100%;
  aspect-ratio: 4/3;
  box-shadow: 4px 4px 0px rgb(106, 183, 255);
}
.action-btn-container {
  width: 100%;
}
.action-btn-containe button {
  border-radius: 50%;
}
.slideUp{
  animation: slideUp 0.4s ease 1;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(calc(2vh));
  }
  100% {
    opacity: 1;
    transform: translate(0%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translate(0%);
  }
}


@media (max-width:560px) {
  #home {
    flex-direction: column!important;
  }
}