* {

  box-sizing: border-box;
}

#header {
  width:100%;
  background-color: white;
  position: fixed;
  top: 0;
  display: none;
  backdrop-filter: blur(3px);
  animation: slideDown 0.2s ease 1;
  z-index: 4;
}
#header h1{
  background: linear-gradient(110deg, rgba(22, 140, 250, 1), rgba(123, 255, 123, 1) );
  background-position:center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border:1px solid red;
}
#home {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-image:
  linear-gradient(110deg, rgba(22, 140, 250, 0.9), rgba(123, 255, 123, 0.7)),
  url('bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.headline-container{
}
.hero-img {
  max-width: calc(20rem + 2vw);
  width: 100%;
  aspect-ratio: 4/3;
  box-shadow: 4px 4px 0px rgb(106, 183, 255);
}
.action-btn-container {
  width: 100%;
}
.action-btn-containe button {
  border-radius: 50%;
}
.slideUp{
  animation: slideUp 0.4s ease 1;
}



.feature-card{
  max-width: 300px;
  background-color: white;
  border-radius: 0px;
  box-shadow: 0 2px 5px #e3e3e3;
}
.feature-card .feature-img{
  background-color: gray;
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 0px;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(calc(2vh + 50%));
  }
  100% {
    opacity: 1;
    transform: translate(0%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translate(0%);
  }
}


/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    #home {
    min-height: 80vh;
    flex-direction: column!important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #home {
    max-height:100vh;
    flex-direction: column!important;
  }
}
@media (min-width: 576px) and (orientation:portrait){
  #home {
    max-height:50vh;
    flex-direction: column!important;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #home {
    max-height: 100vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for large devices */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */
}
